<!DOCTYPE html>
<html>
<head>
  <title>Avro Viewer</title>
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" type="text/css" href="vendor/node_modules/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="vendor/node_modules/tachyons/css/tachyons.min.css" />
</head>
<body>
  <script src="vendor/node_modules/file-saver/FileSaver.min.js"></script>
  <script src="js/fileLoader.js"></script>
  <script src="js/elm-app.js"></script>
  <script src="js/main.js"></script>
</body>
</html>